/* <section class="section bg-light">
  <h1 class="display pink-500">Welcome to the most awesome budget planner!</h1>
</section>
<section class="section bg-dark py-5">
  <h3 class="subdisplay white">Detta är en rubrik</h3>
  <p class="p yellow-500 mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi molestias velit sunt enim, non, accusantium accusamus quo, itaque dolorem totam soluta rem! Ea delectus atque repellendus sequi, tenetur dolorum fugiat?</p>
</section> */

:root {
  /* colors */
  --clr-primary-900: 235 87% 21%;
  --clr-primary-800: 234 81% 26%;
  --clr-primary-700: 234 77% 34%;
  --clr-primary-600: 232 72% 41%;
  --clr-primary-500: 232 67% 49%;
  --clr-primary-400: 231 72% 62%;
  --clr-primary-300: 230 81% 72%;
  --clr-primary-200: 229 89% 82%;
  --clr-primary-100: 229 87% 91%;

  --clr-pumpkin-900: 356 69% 28%;
  --clr-pumpkin-800: 2 60% 36%;
  --clr-pumpkin-700: 6 51% 47%;
  --clr-pumpkin-600: 10 65% 60%;
  --clr-pumpkin-500: 14 100% 73%;
  --clr-pumpkin-400: 18 100% 80%;
  --clr-pumpkin-300: 23 100% 84%;
  --clr-pumpkin-200: 27 100% 89%;
  --clr-pumpkin-100: 13 100% 95%;

  --clr-yellow-900: 40 78% 27%;
  --clr-yellow-800: 41 71% 34%;
  --clr-yellow-700: 43 65% 44%;
  --clr-yellow-600: 44 69% 54%;
  --clr-yellow-500: 46 100% 65%;
  --clr-yellow-400: 47 100% 74%;
  --clr-yellow-300: 49 100% 79%;
  --clr-yellow-200: 50 100% 86%;
  --clr-yellow-100: 52 100% 93%;

  --clr-pink-900: 321 72% 28%;
  --clr-pink-800: 326 62% 35%;
  --clr-pink-700: 332 55% 46%;
  --clr-pink-600: 338 66% 58%;
  --clr-pink-500: 344 100% 71%;
  --clr-pink-400: 350 100% 78%;
  --clr-pink-300: 356 100% 83%;
  --clr-pink-200: 2 100% 88%;
  --clr-pink-100: 6 100% 94%;

  --clr-green-900: 198 84% 20%;
  --clr-green-800: 193 78% 25%;
  --clr-green-700: 188 73% 32%;
  --clr-green-600: 182 68% 39%;
  --clr-green-500: 177 63% 47%;
  --clr-green-400: 172 65% 61%;
  --clr-green-300: 166 76% 71%;
  --clr-green-200: 161 87% 82%;
  --clr-green-100: 156 87% 91%;

  --clr-purple-900: 245 62% 30%;
  --clr-purple-800: 246 51% 38%;
  --clr-purple-700: 247 43% 51%;
  --clr-purple-600: 248 60% 65%;
  --clr-purple-500: 249 100% 80%;
  --clr-purple-400: 250 100% 85%;
  --clr-purple-300: 251 100% 88%;
  --clr-purple-200: 251 100% 92%;
  --clr-purple-100: 251 100% 96%;

  --clr-grey-900: 0 0% 5%;
  --clr-grey-800: 0 0% 16%;
  --clr-grey-700: 0 0% 28%;
  --clr-grey-600: 0 0% 39%;
  --clr-grey-500: 0 0% 50%;
  --clr-grey-400: 0 0% 61%;
  --clr-grey-300: 0 0% 72%;
  --clr-grey-200: 0 0% 83%;
  --clr-grey-100: 0 0% 95%;

  --clr-black: 0 0% 0%;
  --clr-white: 0 0% 100%;

  /* font-sizes */
  --fs-900: 5.61rem;
  --fs-800: 4.209rem;
  --fs-700: 3.157rem;
  --fs-600: 2.369rem;
  --fs-500: 1.777rem;
  --fs-400: 1.333rem;
  --fs-300: 1rem;
  --fs-200: 0.75rem;

  /* font-families */
  --ff-redhat: "Red Hat Text", sans-serif;
  --ff-catamaran: "Catamaran", sans-serif;
  --ff-encode: "Encode Sans Expanded", sans-serif;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-size: var(--fs-300);
}

#app {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.section {
  margin-bottom: 100px;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.display {
  font-family: var(--ff-redhat);
  font-size: var(--fs-900);
  font-weight: 700;
}

.subdisplay {
  font-family: var(--ff-catamaran);
  font-size: var(--fs-500);
  font-weight: 800;
}

.p {
  font-family: var(--ff-encode);
  font-size: var(--fs-300);
  font-weight: 400;
  line-height: 1.6;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-p {
  font-size: var(--fs-300);
}
.fs-small {
  font-size: var(--fs-200);
}

.primary-900 {
  color: hsl(var(--clr-primary-900));
}
.primary-500 {
  color: hsl(var(--clr-primary-800));
}
.primary-700 {
  color: hsl(var(--clr-primary-700));
}
.primary-600 {
  color: hsl(var(--clr-primary-600));
}
.primary-500 {
  color: hsl(var(--clr-primary-500));
}
.primary-400 {
  color: hsl(var(--clr-primary-400));
}
.primary-300 {
  color: hsl(var(--clr-primary-300));
}
.primary-200 {
  color: hsl(var(--clr-primary-200));
}
.primary-100 {
  color: hsl(var(--clr-primary-100));
}

.pumpkin-900 {
  color: hsl(var(--clr-pumpkin-900));
}
.pumpkin-500 {
  color: hsl(var(--clr-pumpkin-800));
}
.pumpkin-700 {
  color: hsl(var(--clr-pumpkin-700));
}
.pumpkin-600 {
  color: hsl(var(--clr-pumpkin-600));
}
.pumpkin-500 {
  color: hsl(var(--clr-pumpkin-500));
}
.pumpkin-400 {
  color: hsl(var(--clr-pumpkin-400));
}
.pumpkin-300 {
  color: hsl(var(--clr-pumpkin-300));
}
.pumpkin-200 {
  color: hsl(var(--clr-pumpkin-200));
}
.pumpkin-100 {
  color: hsl(var(--clr-pumpkin-100));
}

.yellow-900 {
  color: hsl(var(--clr-yellow-900));
}
.yellow-500 {
  color: hsl(var(--clr-yellow-800));
}
.yellow-700 {
  color: hsl(var(--clr-yellow-700));
}
.yellow-600 {
  color: hsl(var(--clr-yellow-600));
}
.yellow-500 {
  color: hsl(var(--clr-yellow-500));
}
.yellow-400 {
  color: hsl(var(--clr-yellow-400));
}
.yellow-300 {
  color: hsl(var(--clr-yellow-300));
}
.yellow-200 {
  color: hsl(var(--clr-yellow-200));
}
.yellow-100 {
  color: hsl(var(--clr-yellow-100));
}

.pink-900 {
  color: hsl(var(--clr-pink-900));
}
.pink-500 {
  color: hsl(var(--clr-pink-800));
}
.pink-700 {
  color: hsl(var(--clr-pink-700));
}
.pink-600 {
  color: hsl(var(--clr-pink-600));
}
.pink-500 {
  color: hsl(var(--clr-pink-500));
}
.pink-400 {
  color: hsl(var(--clr-pink-400));
}
.pink-300 {
  color: hsl(var(--clr-pink-300));
}
.pink-200 {
  color: hsl(var(--clr-pink-200));
}
.pink-100 {
  color: hsl(var(--clr-pink-100));
}

.green-900 {
  color: hsl(var(--clr-green-900));
}
.green-500 {
  color: hsl(var(--clr-green-800));
}
.green-700 {
  color: hsl(var(--clr-green-700));
}
.green-600 {
  color: hsl(var(--clr-green-600));
}
.green-500 {
  color: hsl(var(--clr-green-500));
}
.green-400 {
  color: hsl(var(--clr-green-400));
}
.green-300 {
  color: hsl(var(--clr-green-300));
}
.green-200 {
  color: hsl(var(--clr-green-200));
}
.green-100 {
  color: hsl(var(--clr-green-100));
}

.purple-900 {
  color: hsl(var(--clr-purple-900));
}
.purple-500 {
  color: hsl(var(--clr-purple-800));
}
.purple-700 {
  color: hsl(var(--clr-purple-700));
}
.purple-600 {
  color: hsl(var(--clr-purple-600));
}
.purple-500 {
  color: hsl(var(--clr-purple-500));
}
.purple-400 {
  color: hsl(var(--clr-purple-400));
}
.purple-300 {
  color: hsl(var(--clr-purple-300));
}
.purple-200 {
  color: hsl(var(--clr-purple-200));
}
.purple-100 {
  color: hsl(var(--clr-purple-100));
}

.grey-900 {
  color: hsl(var(--clr-grey-900));
}
.grey-500 {
  color: hsl(var(--clr-grey-800));
}
.grey-700 {
  color: hsl(var(--clr-grey-700));
}
.grey-600 {
  color: hsl(var(--clr-grey-600));
}
.grey-500 {
  color: hsl(var(--clr-grey-500));
}
.grey-400 {
  color: hsl(var(--clr-grey-400));
}
.grey-300 {
  color: hsl(var(--clr-grey-300));
}
.grey-200 {
  color: hsl(var(--clr-grey-200));
}
.grey-100 {
  color: hsl(var(--clr-grey-100));
}

.bg-dark {
  background-color: hsl(var(--clr-grey-800));
}
.bg-light {
  background-color: hsl(var(--clr-grey-200));
}
.bg-black {
  background-color: hsl(var(--clr-black));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.black {
  color: hsl(var(--clr-black));
}

.white {
  color: hsl(var(--clr-white));
}

.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 0.25rem !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.mt-3 {
  margin-top: 0.75rem !important;
}
.mt-4 {
  margin-top: 1rem !important;
}
.mt-5 {
  margin-top: 1.25rem !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.mb-3 {
  margin-bottom: 0.75rem !important;
}
.mb-4 {
  margin-bottom: 1rem !important;
}
.mb-5 {
  margin-bottom: 1.25rem !important;
}

.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}
.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}
.mx-3 {
  margin-right: 0.75rem !important;
  margin-left: 0.75rem !important;
}
.mx-4 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
.mx-5 {
  margin-left: 1.25rem !important;
  margin-right: 1.25rem !important;
}
.mx-auto {
  margin: auto !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}
.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.py-3 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}
.py-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.py-5 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.px-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.px-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}
.px-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.px-3 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}
.px-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.px-5 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}
